html,body{
	width: 100%;
	height: 100%;
	}
	#aways{
		width: 100%;
		min-height: 100%;
		font-family: "微软雅黑";
	}
	#header{					
		width: 100%;
		height:1rem;
		font-size: .3rem;
		background: #FF5857;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "微软雅黑";
		color: #FFFFFF;
		position: relative;
	}	
	/*返回按钮*/
	.returns{
		position: absolute;
		width: 0.8rem;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.returns span{
		display:block;
		border-left: 0.03rem solid #FFFFFF;
		border-bottom: 0.03rem solid #FFFFFF;
		width: .22rem; 
		height: .22rem;
		transform: rotate(45deg);
	}
	
	/*保存*/
	#header .save{
	width: 1rem;
	height: .9rem;
	margin-left: 5.5rem;
	line-height: .9rem;
	font-size: .25rem;			
	}
	/*铅笔*/
	#header .save img{
	padding-top: .2rem;
	width: .5rem;
	height: .5rem;
	line-height: .9rem;
	/*display: none;*/
	}
}
.group_firend {
	width: 100%;
}
.group_firend li{
	width: 20%;
	/*height: 1.2rem;*/
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.1rem 0 ;
}	
.group_firend li img{
	width: 0.88rem;
	height: 0.88rem;
	border-radius: 50%;
}
.group_firend .nickname{
	width: 80%;
	border: none;
	text-align: center;
	margin: 0.1rem 0;
	overflow: hidden; 
	text-overflow:ellipsis;
	color: #999;
}	
/*----------蒙层---------*/
	#every{
		width: 100%;
		height: 100%;
		background-color:rgba(0,0,0,0.4); 
       	display: flex;
       	justify-content: center;
       	align-items: center;
        position: fixed ;
        left: 0;
        top: 0;
        overflow: hidden;
    	z-index: 2;
    	display: none;
	}
	/*是否删除消息弹框*/	
	.banner{
		width: 100%;
		height: 2.3rem;
	}
	.build{
		width: 100%;
		height: 2.3rem;
		display: flex;
		justify-content: center;
	}
	.build-a{
		width: 80%;
		height: 100%;
		border-radius:5% ;
		border: solid#808080 1px;
		background: #FFFFFF;
		font-size: 14px;
	}
	.build-a li{
		width: 100%;
    	height: 37%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: solid#808080 1px;				
	}
	.build-a p{
		width: 90%;
    	height: 50%;
		font-size: .24rem;
		display: flex;
		padding: 0 5%;
		text-align: center;
		justify-content: center;
		align-items: center;
		line-height: 0.5rem;
	}
	.build .yes{
		width: 50%;
    	height: 100%;
    	color: #FF5857;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.build .none{
		width: 50%;
    	height: 100%;
    	color: #808080;
		border-right: solid #333333 1px;
		display: flex;
		align-items: center;
		justify-content: center;
	}	
	.member{
		width: 100%;
		height: 1.1rem;
		border-bottom: 1px solid #D3D3D3;
		display: flex;
		justify-content: center;
		align-items: center;
		float: left;
	}
	.box-a{
		width: 92%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.box{
		width: 85%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.portrait{
		height: .8rem;
		width: .8rem;
		border-radius: .4rem;
		background: #D3D3D3;
	}
	.portrait img{
		width: 100%;
		height: 100%;
		border-radius:50%;
	}
	.name{
		width: 80%;
		font-size: .24rem;
		font-family: "微软雅黑";
	}
	.select {
		width: .5rem;
		height: .5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.select .apple{
		width: .3rem;
		height: .3rem;
		float: left;
		display: none;
	}



